@model Model1.EF.Dongxuat

@{
    ViewBag.Title = "Edit";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <b class="panel-heading" style="color:black; font-size:x-large">
        Nhập cấp phát Vắc xin/vật tư
    </b>
}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Assets/Admin/css/main.css">
    <link rel="stylesheet" href="~/Assets/Admin/css/thuan-main.css">
    <link rel="stylesheet" href="~/Assets/Admin/css/page/user.css">
    <link rel="stylesheet" href="~/Content/themes/base/font/fontawesome-5.15.1/css/all.css">
</head>

<body>
    <div class="row">

        <div class="col-lg-pull-3 thuan-body-content">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal" style="width:250px">
                    <b class="panel-heading" style="color:coral; font-size:large">Chi tiết phiếu nhập</b>
                    <hr />

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.Madongxuat, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Madongxuat, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Madongxuat, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        <label class="lable-thuan">Mã lô</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Malo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Malo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Mã thuốc</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Mathuoc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Mathuoc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Số lượng xuất</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SLxuat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SLxuat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Số lượng nhập</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SLnhap, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SLnhap, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Đơn giá</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Dongia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Dongia, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Cập nhật" class="btn btn-primary" style=" margin:10px 0 0 0" />
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>
    <div style="margin-top:13px">
        @Html.ActionLink("Quay lại phiếu nhập", "Index")
    </div>
</body>
</html>