@using PagedList.Mvc;
@using Model1
@model  ModelCollection


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <link rel="stylesheet" href="~/Assets/Admin/css/thuan-main.css">
    <link rel="stylesheet" href="~/Content/themes/base/font/fontawesome-5.15.1/css/all.css">
    <style>
        .table-responsive {
            height: 258px;
        }
    </style>
    <b class="panel-heading" style="color:black; font-size:x-large">
        Phiếu xuất hủy vaccine
    </b>
}

<div class="row">
    <div class="col-lg-offset-1 thuan-body-content" style="margin-right: 25px">
        <div class="panel-heading" style="color:blue; font-size:large; margin-top: -16px;"></div>
        <hr style="margin-top: 70px " />

        @{
            DateTime date;
            date = DateTime.Today;
            string dateformated = date.Day.ToString() + "/" + date.Month.ToString() + "/" + date.Year.ToString();
        }

        <div class="panel-body">
            @using (Html.BeginForm("Index", "Xuathuy", FormMethod.Get))
            {
                <div class="form-group">
                    <div class="form-group" style="display: flex; width: 100%; align-items: center">
                        @Html.TextBox("SearchString", null, new { @style = " height:38px; width:184px; margin:0 0 14px 7px", @class = "form-control", @placeholder = "Tìm kiếm phiếu hủy" })
                        <p>
                            <button title="Tìm kiếm" class="btn" type="submit" style="color:white; background-color:royalblue; margin-left:10px"><i class="fas fa-search" style="margin-right:0px"></i></button>
                        </p>
                    </div>

                </div>
            }
            <hr style="margin-top: -10px;" />

            <b class="panel-heading" style="color:coral; font-size:medium">
                Danh sách phiếu xuất hủy
            </b>
            <hr style="margin-bottom: unset;" />
            @if (Model.Phieuxuathuys.Count() > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Ngày lập</th>
                                <th style="width:115px"></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.Phieuxuathuys)
                            {
                                <tr id="row_@item.Sophieuxuat">
                                    <td>@item.Sophieuxuat</td>
                                    @{DateTime a = @item.Ngayxuat;
                                        string b = a.Day.ToString() + "/" + a.Month.ToString() + "/" + a.Year.ToString();
                                    }
                                    <td style="width:98px">@Html.Raw(b)</td>
                                    <td>

                                        <a title="Sửa" href="/Admin/Xuathuy/Edithd/@item.Sophieuxuat"><i class="fas fa-pen" style="margin-right:5px"></i></a>|
                                        @Ajax.ActionLink(" ", "Deletehd", new { @id = item.Sophieuxuat }, new AjaxOptions
                                        { HttpMethod = "Delete", Confirm = "Bạn có muốn xoá bản ghi này?", OnComplete = "$('#row_" + @item.Sophieuxuat + "').remove()", },
                                        new { @class = "fas fa-trash", @title = "Xóa" })
                                        |<a title="Chi tiết" href="/Admin/Xuathuy/Detailhd/@item.Sophieuxuat"><i class="fas fa-info-circle" style="margin-left:5px"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Ngày lập</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-danger" style="width:210px">Không tìm thấy dữ liệu</div>
            }

        </div>
    </div>

    <div class="col-lg-pull-3 thuan-body-content" style="">

        @using (Html.BeginForm("MultiDelete", "Xuathuy", FormMethod.Post))
        {
            <div class="col-md-12">
                <div class="panel-heading" style="color:coral; font-size:large; font-weight: bold;">
                    Thông tin phiếu hủy
                    <button title="Thêm phiếu hủy" type="submit" class="btn btn-primary" style=" margin:0 0 0 16px"><i class="fas fa-save"></i><b style="font-size: 14px;
                     margin-left: 5px;"> Lưu</b></button>
                </div>
                <hr />

                <div class="form-group" style="">
                    <div class="form-group" style="display: flex ;  width:100%;align-items:center">

                        <label style=" box-sizing:border-box; flex-wrap:nowrap">Mã phiếu hủy</label>
                        <p><input name="sophieu" class="form-control" style="width:100px;margin:0 16px" value="@ViewBag.mahoadonauto" readonly /></p>

                        <label>Ngày lập</label>
                        <p><input type="text" value="@Html.Raw(dateformated)" class="form-control" style="width:118px; margin:0 16px" readonly /></p>

                        <label>Ghi chú</label>
                        <p><input type="text" name="ghichu" class="form-control" style="width:118px; margin:0 16px" /></p>
                    </div>
                </div>

                <hr style="margin-top: -10px;" />
            </div>

            <div class="section group" style="display:contents">
                <b class="panel-default" style="color:coral; font-size:medium">
                    Danh sách vaccine/ Vật tư
                </b>
                <hr style="margin-bottom: unset;" />
                @if (Model.LoDTOs.Count() > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tên vật tư</th>
                                    <th>Mã lô</th>
                                    <th>Số lượng hiện có</th>
                                    <th>Số lượng hủy</th>
                                    <th>Hạn sử dụng</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.LoDTOs)
                                {
                                    if (item.HSD < DateTime.Now)
                                    {
                                        <tr id="2-@item.Malo" class="red-row">
                                            @{DateTime a = @item.HSD;
                                                string b = a.Day.ToString() + "/" + a.Month.ToString() + "/" + a.Year.ToString();
                                            }
                                            <td>@item.Tenvattu</td>
                                            <td>@item.Malo</td>
                                            <td style="text-align:center">@item.SLnhap.GetValueOrDefault(0).ToString("N0")</td>
                                            <td><input class="form-control" value="0" name="dsslhuy" id="dsslhuy" type="number" style="width:80px;margin-top: -5px; color:black; background-color:tomato" /></td>
                                            @{DateTime c = @item.HSD;
                                                string d = c.Day.ToString() + "/" + c.Month.ToString() + "/" + c.Year.ToString();
                                            }
                                            <td style="width:138px">@Html.Raw(d)</td>
                                        </tr>
                                    }

                                    else if ((item.HSD - DateTime.Now).TotalDays < 31)
                                    {
                                        <tr id="2-@item.Malo" class="yellow-row">
                                            @{DateTime a = @item.HSD;
                                                string b = a.Day.ToString() + "/" + a.Month.ToString() + "/" + a.Year.ToString();
                                            }
                                            <td>@item.Tenvattu</td>
                                            <td>@item.Malo</td>
                                            <td style="text-align:center">@item.SLnhap.GetValueOrDefault(0).ToString("N0")</td>
                                            <td><input class="form-control" value="0" name="dsslhuy" id="dsslhuy" type="number" style="width:80px;margin-top: -5px; color:black; background-color:yellow" /></td>
                                            @{DateTime c = @item.HSD;
                                                string d = c.Day.ToString() + "/" + c.Month.ToString() + "/" + c.Year.ToString();
                                            }
                                            <td style="width:138px">@Html.Raw(d)</td>
                                        </tr>
                                    }

                                    else
                                    {
                                        <tr id="2-@item.Malo" class="2">
                                            @{DateTime a = @item.HSD;
                                                string b = a.Day.ToString() + "/" + a.Month.ToString() + "/" + a.Year.ToString();
                                            }
                                            <td>@item.Tenvattu</td>
                                            <td>@item.Malo</td>
                                            <td style="text-align:center">@item.SLnhap.GetValueOrDefault(0).ToString("N0")</td>
                                            <td><input class="form-control" value="0" name="dsslhuy" id="dsslhuy" type="number" style="width:80px;margin-top: -5px; color:black" /></td>
                                            @{DateTime c = @item.HSD;
                                                string d = c.Day.ToString() + "/" + c.Month.ToString() + "/" + c.Year.ToString();
                                            }
                                            <td style="width:138px">@Html.Raw(d)</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>

                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tên vật tư</th>
                                    <th>Mã lô</th>
                                    <th>Số lượng hiện có</th>
                                    <th>Số lượng hủy</th>
                                    <th>Hạn sử dụng</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="alert alert-danger" style="width:210px">Không tìm thấy dữ liệu</div>
                }

            </div>
        }
    </div>
</div>