@model Model1.EF.Lo

@{
    ViewBag.Title = "Create";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Nhập từ nhà cung cấp
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="width:250px">
        <h4>Chi tiết phiếu nhập</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Sohoadon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sohoadon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sohoadon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Malo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Malo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Malo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Solieutrenmotcai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Solieutrenmotcai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Solieutrenmotcai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SLnhap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SLnhap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SLnhap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dongia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dongia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dongia, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group" ,style="Width:150px">
            <label>ID</label>
            <input name="malo" class="form-control" ,style="Width:50%" />
        </div>

        <div class="form-group">
            <label>Số liều</label>
            <input name="solieutrenmotcai" class="form-control" ,style="Width:50%" />
        </div>

        <div class="form-group" ,style="Width:50px">
            <label>Số lượng</label>
            <input name="slnhap" class="form-control" />
        </div>

        <div class="form-group" ,style="Width:50px">
            <label>Đơn giá</label>
            <input name="dongia" class="form-control" />
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm vào phiếu nhập" class="btn btn-primary" style=" margin:10px 0 0 0" />
            </div>

        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Quay lại phiếu nhập", "Index")
</div>*@
