@model Model1.EF.Chitietphhieutiem

@{
    ViewBag.Title = "Create";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section header{
    <b class="panel-heading" style="color:black; font-size:x-large">
        Cập nhật chi tiết phiếu tiêm
    </b>
}
<html>
<head>
    <link rel="stylesheet" href="~/Assets/Admin/css/thuan-main.css">
    @{
        DateTime date;
        date = DateTime.Today;
    }
</head>
<body>

    <div class="row">

        <div class="col-lg-pull-3 thuan-body-content">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal" style="width:330px">
                    <b class="panel-heading" style="color:coral; font-size:large">
                        Thông tin chi tiết phiếu tiêm
                    </b>
                    <hr />

                    <div class="form-group">
                        <label class="lable-thuan">Số phiếu tiêm</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Sophieutiem, new { htmlAttributes = new { @class = "form-control", @Value = @Session["sophieutiem"], @ReadOnly = "true" } })
                            @Html.ValidationMessageFor(model => model.Sophieutiem, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Mã chi tiết phiếu tiêm</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Machitietphieutiem, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Machitietphieutiem, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Ngày tiêm</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Ngaytiem, new { htmlAttributes = new { @class = "form-control" } })
                            @*<input type="datetime" id="Ngaytiem" name="Ngaytiem" value="@Html.Raw(date)" class="form-control" style="width:110px; height:40px; margin:0px 0px 0px 0px" />*@
                            @Html.ValidationMessageFor(model => model.Ngaytiem, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Loại mũi</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Loaimui, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Loaimui, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Mã lô</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Malo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Malo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Triệu chứng</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Trieuchung, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Trieuchung, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Mã thuốc</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Mathuoc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Mathuoc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Mã điểm tiêm</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Madiemtiem, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "true" } })
                            @Html.ValidationMessageFor(model => model.Madiemtiem, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Ghi chú</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Ghichu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ghichu, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Cập nhật chi tiết phiếu tiêm" class="btn btn-primary" style=" margin:10px 0 0 0" />
                        </div>

                    </div>
                </div>
            }
            </div>
        </div>

            <div>
                @*@Html.ActionLink("Quay lại phiếu tiêm", "Index")*@
                <a href="/Admin/Phieutiem/Index">Quay lại phiếu tiêm</a>
            </div>
</body>
</html>

