@model Model1.EF.Chitietphhieutiem

@{
    ViewBag.Title = "Create";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <b class="panel-heading" style="color:blue; font-size:x-large">
        Nhập phiếu tiêm
    </b>
}

@{
    DateTime date;
    date = DateTime.Today;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="width:330px">
    <h4>Thông tin chi tiết phiếu tiêm</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Sophieutiem, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Sophieutiem, new { htmlAttributes = new { @class = "form-control", @Value = @Session["sophieutiem"], @ReadOnly = "true" } })
            @Html.ValidationMessageFor(model => model.Sophieutiem, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Machitietphieutiem, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Machitietphieutiem, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Machitietphieutiem, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ngaytiem, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ngaytiem, new { htmlAttributes = new { @class = "form-control", @Value = @Html.Raw(date) } })
            @*<input type="datetime" id="Ngaytiem" name="Ngaytiem" value="@Html.Raw(date)" class="form-control" style="width:110px; height:40px; margin:0px 0px 0px 0px" />*@
            @Html.ValidationMessageFor(model => model.Ngaytiem, "", new { @class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Loaimui, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Loaimui, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Loaimui, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Malo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Malo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Malo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Trieuchung, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Trieuchung, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Trieuchung, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mathuoc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Mathuoc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Mathuoc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Madiemtiem, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Madiemtiem, new { htmlAttributes = new { @class = "form-control", @Value = @Session["madt"], @ReadOnly = "true" } })
            @Html.ValidationMessageFor(model => model.Madiemtiem, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ghichu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ghichu, new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.Ghichu, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm vào phiếu tiêm" class="btn btn-primary" style=" margin:10px 0 0 0" />
        </div>

    </div>
</div>
}

@*<div>
        @Html.ActionLink("Quay lại phiếu nhập", "Index")
    </div>*@
