@using PagedList.Mvc;
@model PagedList.IPagedList<Model1.EF.Phieutiem>
@*@model IEnumerable<Model1.EF.Phieutiem>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <link rel="stylesheet" href="~/Assets/Client/css/page/index.css">
    <b class="panel-heading" style="color:black; font-size:x-large">
        Kết quả tiêm chủng
    </b>
}

@section jsfooter{
    <script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
    <script src="~/Assets/Admin/js/controller/nhaptuncc.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "yyyy/mm/dd"
            });
        });
    </script>

}

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Assets/Admin/css/main.css">
    <link rel="stylesheet" href="~/Assets/Admin/css/thuan-main.css">
    <link rel="stylesheet" href="~/Assets/Admin/css/page/user.css">
    <link rel="stylesheet" href="~/Content/themes/base/font/fontawesome-5.15.1/css/all.css">
    <style>
        /*.table-responsive {
            height: 212px;
        }*/
    </style>
    @{
        DateTime date = DateTime.Today;
        DateTime datedefault = Convert.ToDateTime("08/13/2000");
        string dateformated = date.Day.ToString() + "/" + date.Month.ToString() + "/" + date.Year.ToString();
    }

</head>
<body>
    <div class="row">
        <div class="col-lg-pull-3 thuan-body-content" style="height:489px">
            <div class="section group">
                <div class="col-md-12">
                </div>
            </div>

            <div class="col-lg-offset-1">
                <b class="panel-heading" style="color:coral; font-size:large">
                    Thông tin phiếu tiêm
                </b>


                <button title="Thêm phiếu tiêm từ người dân không đăng ký" class="btn btn-primary" id="btnAddEmployee" type="button" style="margin: 0px 0 0px 68px">
                    <i class="fas fa-plus"></i><b style="font-size: 14px;
                                margin-left: 5px;"> Thêm mới</b>
                </button>

                <p style="margin-bottom: -27px;">
                    <a href="/Admin/Regis/Index" title="Thêm phiếu tiêm từ phiếu đăng ký" class="btn btn-primary scroll-bottom" style="margin: -63px 0 0px 368px">
                        <i class="fas fa-plus"></i><b style="font-size: 14px;
                            margin-left: 5px;">Thêm từ phiếu đăng ký</b>
                    </a>
                </p>

                <hr />

                <div class="panel-body">
                    @using (Html.BeginForm("Index", "Phieutiem", FormMethod.Get))
                    {
                        <div class="form-group">
                            <div class="form-group" style="display: flex ;  width:100%;align-items:center">
                                @*Tên người dân: @Html.TextBox("SearchString", null, new { @style = " height:35px; width:150px; margin:0 10px 10px 10px", @class = "form-control" })*@

                                CCCD: @Html.TextBox("SearchString", null, new { @style = " height:35px; width:150px; margin:0 10px 10px 10px", @class = "form-control" })

                                @*Thời gian:
                        <input type="datetime" value="@Html.Raw(date)" class="form-control" style="width:105px; margin:0 10px 10px 10px" name="a" />
                        Đến
                        <input type="datetime" value="@Html.Raw(date)" class="form-control" style="width:105px; margin:0 10px 10px 10px" name="b" />*@

                                <p>
                                    <button title="Tìm kiếm" class="btn btn-primary" style="margin: 0px 0 0px 30px">
                                        <i class="fas fa-search"></i><b style="font-size: 14px;
                                margin-left: 5px;"> Tìm kiếm</b>
                                    </button>
                                </p>

                            </div>

                            <div>

                            </div>
                        </div>
                    }

                    <hr />

                </div>
            </div>

            <div class="section group" style="display:contents">
                @*<b class="panel-heading" style="color:black; font-size:large">
                        Kết quả tìm kiếm
                    </b>*@
                <b class="panel-heading" style="color:coral; font-size:large">
                    Kết quả tìm kiếm
                </b>
                <hr />
                @if (Model.Count() > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Mã phiếu</th>
                                    <th>Tên người dân</th>
                                    <th>Căn cước công dân</th>
                                    <th>Số điện thoại</th>
                                    <th>Ngày sinh</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.Sophieu">
                                        <td>@item.Sophieu</td>
                                        <td>@item.Tennguoidan</td>
                                        <td>@item.CCCD</td>
                                        <td>@item.SDT</td>
                                        @{DateTime a = @item.Ngaysinh;
                                            string b = a.Day.ToString() + "/" + a.Month.ToString() + "/" + a.Year.ToString();
                                        }
                                        <td>@Html.Raw(b)</td>
                                        <td style="text-align: center">
                                            <a title="Cập nhật" href="/Admin/Phieutiem/Edithd/@item.Sophieu"><i class="fas fa-pen" style="margin-right:5px"></i></a>
                                            @*@Ajax.ActionLink(" ", "Delete", new { @id = item.Sophieu }, new AjaxOptions
                                            { HttpMethod = "Delete", Confirm = "Bạn có muốn xoá bản ghi này?", OnComplete = "$('#row_" + @item.Sophieu + "').remove()", },
                                            new { @class = "fas fa-trash", @title = "Xóa" })*@|
                                            <a title="Chi tiết" href="/Admin/Phieutiem/Detailpn/@item.Sophieu"><i class="fas fa-info-circle" style="margin-left:5px"></i></a>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
                    </div>

                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Mã phiếu</th>
                                    <th>Tên người dân</th>
                                    <th>CCCD</th>
                                    <th>SDT</th>
                                    <th>Ngày sinh</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="alert alert-danger" style="width:210px">Không tìm thấy dữ liệu</div>
                }

            </div>

        </div>
    </div>

    <div id="dlgPopup" class="m-dialog">
        <div class="m-row">
            <div class="m-popup" style="height: 339px; width: 630px ">
                <div class="m-popup-header">
                    <div class="m-popup-header-title">Thêm mới phiếu tiêm dành cho đối tượng không đăng ký online</div>
                    <div id="btnCloseDialog" class="m-popup-close"><i class="fas fa-times"></i></div>
                    <hr />
                </div>
                <div class="m-popup-content">
                    @using (Html.BeginForm("Create", "Phieutiem", FormMethod.Post, new { style = " width: 931px" }))
                    {

                        <div class="form-group" style="">
                            <div class="form-group" style="display: flex ;  width:100%;align-items:center">
                                @*<label style=" margin-left:24px; box-sizing:border-box; flex-wrap:nowrap">Mã lô:</label>*@
                                <p><input value="@ViewBag.mahoadonauto" name="sophieutiem" class="form-control" style="width:130px;margin:0 16px; display:none" /></p>

                                <label style="margin-left:24px">Tên người dân:</label>
                                <p><input name="tennd" class="form-control" style="width:145px; margin:0 0px 0 19px" /></p>

                                <label style=" margin-left:24px; box-sizing:border-box; flex-wrap:nowrap">CCCD</label>
                                <p><input name="cccd" class="form-control" style="width:145px; margin:0 18px 0 54px" /></p>

                            </div>
                        </div>

                        <div class="form-group" style="">
                            <div class="form-group" style="display: flex ;  width:100%;align-items:center">
                                <label style="margin-left:24px; width: 100px;">Số điện thoại</label>
                                <p><input name="sdt" class="form-control" style="width:145px;margin-left: 25px;" /></p>

                                <label style=" margin-left:25px;width: 79px; box-sizing:border-box; flex-wrap:nowrap">Ngày sinh:</label>
                                <p><input name="ngaysinh" type="date" class="form-control" style="width:147px;margin:0 16px" /></p>

                                @*<label style="margin-left:24px">Hạn sử dụng:</label>
                                    <p><input type="date" name="hsd" class="form-control" style="width:145px; margin:0 41px" /></p>*@
                                @*@Html.ValidationMessage("HSD", "", "text-danger")*@
                            </div>
                        </div>

                        <div class="panel-heading" style="color:blue; font-size:large;display: flex; height: 60px;background-color: #E9EBEE;
                        align-items: center; justify-content: end; margin:49px 0 0 0; width:628px">
                            <button id="btnCancel" type="button" class='m-btn m-btn-nobackground'>Hủy</button>
                            <button id="btnSave" type="submit" class="btn btn-primary" style=" margin:0 24px 0 8px">Lưu</button>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</body>
</html>