@model Model1.EF.Vattuyte
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <link rel="stylesheet" href="~/Assets/Admin/css/thuan-main.css">
    <link rel="stylesheet" href="~/Content/themes/base/font/fontawesome-5.15.1/css/all.css">
    <style>
        .table-responsive {
            height: 258px;
        }
    </style>
    <b class="panel-heading" style="color:black; font-size:x-large">
        Trang chủ
    </b>
}

@if (ViewBag.Maquyen == "storage" || ViewBag.Maquyen == "admin")
{
    <div class="col-lg-12">

        <div class="panel panel-default thuan-body-content">
            <b class="panel-heading" style="color:coral; font-size:large">
                Thông số của hệ thống
            </b>
            <br />
            <br />

            <ul>
                <li>Số lô vaccine hết hạn <a href="/Admin/Lo/Index1" title="Xem số lô hết hạn" rel="nofollow"> @ViewBag.sllohethan lô </a></li>
                <li>Số lô vaccine sắp hết hạn <a href="/Admin/Lo/Index1" title="Xem số lô sắp hết hạn" rel="nofollow"> @ViewBag.sllosaphethan lô</a> (có hạn dùng dưới 30 ngày)</li>
                <li>Số phiếu dự trù đã duyệt nhưng chưa cấp phát: <a href="/Admin/Capphat/Index" title="Xem chưa cấp phát" rel="nofollow"> @ViewBag.slduyet phiếu</a></li>
                <li>Chênh lệch giữa phiếu cấp phát và phiếu nhập cấp phát: <a href="/Admin/Capphat/Index" title="Xem phiếu xuất/ phiếu cấp phát" rel="nofollow"> @ViewBag.slpx phiếu</a></li>
                <li>Chênh lệch giữa phiếu xuất trả lại và phiếu nhập trả lại: <a href="/Admin/Nhaptralai/Index" title="Xem phiếu trả lại/ phiếu nhập trả lại" rel="nofollow"> @ViewBag.sltl phiếu</a></li>
            </ul>

        </div>

    </div>

}

