@using PagedList.Mvc;
@using Model1
@model  ModelCollection


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <b class="panel-heading" style="color:blue; font-size:x-large">
        Danh sách phiếu cấp phát
    </b>
}

<div class="row">
    <div class="col-lg-offset-1" style="padding:10px">
        <div class="panel-heading" style="color:blue; font-size:large">
            Tìm kiếm phiếu cấp phát
        </div>
        <hr />

        @{
            DateTime date;
            date = DateTime.Today;
        }

        <div class="panel-body">
            @using (Html.BeginForm("Index", "Capphat", FormMethod.Get))
            {
                <div class="form-group">
                    <div class="form-group" style="display: flex ;  width:100%;align-items:center">
                        Mã: @Html.TextBox("SearchString", null, new { @style = " height:35px; width:174px; margin:0 0 10px 10px", @class = "form-control" })
                        <p><button type="submit" class="btn btn-primary" style=" margin:0 0 0 30px">Tìm kiếm</button></p>
                    </div>

                </div>
            }
            <hr />

            @if (Model.PhieuxuatDTOs.Count() > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Ngày xuất</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.PhieuxuatDTOs)
                            {
                                <tr id="row_@item.Sophieuxuat">
                                    <td>@item.Sophieuxuat</td>
                                    <td>@item.Ngayxuat</td>
                                    <td>
                                        <a href="/Admin/Capphat/Edithd/@item.Sophieuxuat">Sửa</a>
                                        |
                                        @Ajax.ActionLink("Xoá", "Deletehd", new { @id = item.Sophieuxuat }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xoá bản ghi này?",
                                       OnComplete = "$('#row_" + @item.Sophieuxuat + "').remove()",
                                       HttpMethod = "Delete"
                                   })|
                                        <a href="/Admin/Capphat/Detailhd/@item.Sophieuxuat">Chi tiết</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Ngày xuất</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-danger" style="width:210px">Không tìm thấy dữ liệu</div>
            }

        </div>
    </div>



    <div class="col-lg-pull-3" style="padding:10px">

        <div class="section group">
            <div class="col-md-12">
                @using (Html.BeginForm("Payment", "Capphat", FormMethod.Post))
                {
                    <div class="panel-heading" style="color:blue; font-size:large">
                        Thông tin chi tiết phiếu xuất
                        <button type="submit" class="btn btn-primary" style=" margin:0 0 0 36px">Thêm phiếu</button>
                    </div>
                    <hr />

                    <div class="form-group" style="">
                        <div class="form-group" style="display: flex ;  width:100%;align-items:center">

                            <label style=" box-sizing:border-box; flex-wrap:nowrap">Mã phiếu xuất</label>
                            <p><input name="sophieu" class="form-control" style="width:100px;margin:0 16px" /></p>

                            <label>Ngày xuất</label>
                            <p><input type="datetime" name="ngayxuat" value="@Html.Raw(date)" class="form-control" style="width:128px; margin:0 16px" /></p>

                            <label>Tình trạng</label>
                            <p>@Html.DropDownList("tt", null, new { @style = "width:150px; margin:0 16px", @class = "form-control", @name = "tt" })</p>
                        </div>
                        <div class="form-group" style="display: flex ;  width:100%;align-items:center">

                            <label>Kho xuất</label>
                            <p>@Html.DropDownList("kho", null, new { @style = "width:200px; margin:0 16px", @class = "form-control", @name = "kho" })</p>

                            <label>Đơn vị nhận</label>
                            <p>@Html.DropDownList("dt", null, new { @style = "width:190px; margin:0 16px", @class = "form-control", @name = "dt" })</p>
                        </div>

                    </div>

                }
            </div>

        </div>

        <hr />

        <div class="section group" style="display:contents">
            <b class="panel-heading" style="color:black; font-size:large">
                Danh sách vaccine/ Vật tư
                <a class="btn btn-primary" href="/Admin/Capphat/Create" style=" margin:0 0 0 36px">Thêm</a>
            </b>
            <hr />
            @if (Model.Dongxuats.Count() > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tên vật tư</th>
                                <th>Mã lô</th>
                                <th>Số lượng xuất</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Dongxuats)
                            {
                                <tr>
                                    <td>@item.Tenthuoc</td>
                                    <td>@item.Malo</td>
                                    <td>@item.SLxuat.GetValueOrDefault(0).ToString("N0")</td>
                                    <td>@item.Dongia.GetValueOrDefault(0).ToString("N0")</td>
                                    <td>@((item.Dongia.GetValueOrDefault(0) * item.SLxuat.GetValueOrDefault(0)).ToString("N0"))</td>
                                    <td>
                                        <a href="/Admin/Capphat/Edit/@item.Madongxuat">Sửa</a>
                                        |
                                        @Ajax.ActionLink("Xoá", "Delete", new { @id = item.Madongxuat }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xoá bản ghi này?",
                                       OnComplete = "$('#row_" + @item.Madongxuat + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tên vật tư</th>
                                <th>Mã lô</th>
                                <th>Số lượng xuất</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-danger" style="width:210px">Không tìm thấy dữ liệu</div>
            }

        </div>

    </div>
</div>


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section jsfooter{
    <script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>

    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "yyyy/mm/dd"
            });
        });
    </script>

}
