@model Model1.EF.Phieuxuattralai
@{
    ViewBag.Title = "Index";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <b class="panel-heading" style="color:black; font-size:x-large">
        Phiếu nhập trả lại
    </b>
}
<html>
<head>
    <link rel="stylesheet" href="~/Assets/Admin/css/thuan-main.css">
</head>
<body>
    <div class="row">

        <div class="col-lg-pull-3 thuan-body-content">
            @using (Html.BeginForm("Edithd", "Xuattralai", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(Model => Model.Sophieuxuat)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-horizontal" style="width:340px">
                    <b class="panel-heading" style="color:coral; font-size:large">
                        Thông tin phiếu nhập trả lại
                    </b>
                    <hr />

                    <div class="form-group">
                        <label class="lable-thuan">Số phiếu nhập</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Sophieuxuat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Sophieuxuat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Tên điểm tiêm</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Madiemtiem, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Madiemtiem, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Trạng thái</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Matinhtrang, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Matinhtrang, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="lable-thuan">Ngày nhập</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Ngaynhap, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ngaynhap, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Lưu" class="btn btn-primary" style=" margin:10px 0 0 0" />
                            </div>
                        </div>*@
                </div>
            }

        </div>
    </div>
    <div style="margin-top:13px">
        @Html.ActionLink("Quay lại phiếu nhập trả lại", "Index")
    </div>
</body>
</html>