@model IEnumerable<Model1.DTO.DonglinhDTO>
@{
    ViewBag.Title = "Index11";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Phiếu lĩnh
}

<div class="row">

    <div class="col-lg-pull-3" style="padding:10px">

        <div class="section group">
            <b class="panel-heading" style="color:black; font-size:large">
                Danh sách Vật tư
                <a class="btn btn-primary" href="/Admin/Donglinh/Create" style=" margin:0 0 0 36px">Thêm</a>
            </b>
            <hr />

            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>Tên thuốc</td>
                            <td>Mã thuốc</td>
                            <td>Số lượng yêu cầu</td>
                            <td>Số lượng cấp phát</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model.Where(item => item != null))
                            {
                                <tr>
                                    <td>@item.Tenthuoc</td>
                                    <td>@item.Mathuoc</td>
                                    <td>@item.SLyeucau.GetValueOrDefault(0).ToString("N0")</td>
                                    <td>@item.SLcapphat.GetValueOrDefault(0).ToString("N0")</td>
                                    <td>
                                        <a href="/Admin/Dutru/Edit/@item.Madonglinh">Sửa</a>
                                        |
                                        @Ajax.ActionLink("Xoá", "Delete", new { @id = item.Madonglinh}, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xoá bản ghi này?",
                                       OnComplete = "$('#row_" + @item.Madonglinh + "').remove()",
                                       HttpMethod = "Delete"
                                   })
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
        </div>
        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
