@using PagedList.Mvc;
@using Model1
@model  ModelCollection


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <link rel="stylesheet" href="~/Assets/Admin/css/thuan-main.css">
    <link rel="stylesheet" href="~/Content/themes/base/font/fontawesome-5.15.1/css/all.css">
    <style>
        .table-responsive {
            height: 209px;
        }
    </style>
    <b class="panel-heading" style="color:black; font-size:x-large">
        Phiếu dự trù vaccine
    </b>
}

<div class="row">
    <div class="col-lg-offset-1 thuan-body-content" style="margin-right: 25px">
        <div class="panel-heading" style="color:blue; font-size:large; margin-top: -16px;"></div>
        <hr style="margin-top: 70px " />

        @{
            DateTime date;
            date = DateTime.Today;
            string dateformated = date.Day.ToString() + "/" + date.Month.ToString() + "/" + date.Year.ToString();
        }

        <div class="panel-body">
            @using (Html.BeginForm("Index", "Dutru", FormMethod.Get))
            {
                <div class="form-group">
                    <div class="form-group" style="display: flex; width: 100%; align-items: center">
                        @Html.TextBox("SearchString", null, new { @style = " height:38px; width:184px; margin:0 0 14px 7px", @class = "form-control", @placeholder = "Tìm kiếm phiếu dự trù" })
                        <p>
                            <button title="Tìm kiếm" class="btn" type="submit" style="color:white; background-color:royalblue; margin-left:10px"><i class="fas fa-search" style="margin-right:0px"></i></button>
                        </p>
                    </div>

                </div>
            }
            <hr style="margin-top: -10px;" />

            <b class="panel-heading" style="color:coral; font-size:medium">
                Danh sách phiếu dự trù
            </b>
            <hr style="margin-bottom: unset;" />
            @if (Model.PhieulinhDTOs.Count() > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Ngày lập</th>
                                <th style="width:115px"></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.PhieulinhDTOs)
                            {
                                <tr id="row_@item.Sophieulinh">
                                    <td>@item.Sophieulinh</td>
                                    @{DateTime a = @item.Ngayyeucau;
                                        string b = a.Day.ToString() + "/" + a.Month.ToString() + "/" + a.Year.ToString();
                                    }
                                    <td style="width:98px">@Html.Raw(b)</td>
                                    <td>

                                        <a title="Sửa" href="/Admin/Dutru/Edithd/@item.Sophieulinh"><i class="fas fa-pen" style="margin-right:5px"></i></a>|
                                        @Ajax.ActionLink(" ", "Deletehd", new { @id = item.Sophieulinh }, new AjaxOptions
                                        { HttpMethod = "Delete", Confirm = "Bạn có muốn xoá bản ghi này?", OnComplete = "$('#row_" + @item.Sophieulinh + "').remove()", },
                                        new { @class = "fas fa-trash", @title = "Xóa" })
                                        |<a title="Chi tiết" href="/Admin/Dutru/Detailhd/@item.Sophieulinh"><i class="fas fa-info-circle" style="margin-left:5px"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Ngày lập</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-danger" style="width:210px">Không tìm thấy dữ liệu</div>
            }

        </div>
    </div>

    <div class="col-lg-pull-3 thuan-body-content" style="">

        @using (Html.BeginForm("MultiDelete", "Dutru", FormMethod.Post))
        {
            <div class="col-md-12">
                <div class="panel-heading" style="color:coral; font-size:large; font-weight: bold;">
                    Thông tin phiếu dự trù
                    <button title="Thêm phiếu dự trù" type="submit" class="btn btn-primary" style=" margin:0 0 0 16px">
                        <i class="fas fa-save"></i><b style="font-size: 14px;
                     margin-left: 5px;"> Lưu</b>
                    </button>
                    
                </div>
                <hr />

                <div class="form-group" style="">
                    <div class="form-group" style="display: flex ;  width:100%;align-items:center">

                        <label style=" box-sizing:border-box; flex-wrap:nowrap">Mã phiếu dự trù</label>
                        <p><input name="sophieu" class="form-control" style="width:100px;margin:0 16px" value="@ViewBag.mahoadonauto" readonly /></p>

                        <label>Ngày lập</label>
                        <p><input type="text" value="@Html.Raw(dateformated)" class="form-control" style="width:118px; margin:0 16px" readonly /></p>

                    </div>
                </div>

                <hr style="margin-top: -10px;" />
            </div>

            <div class="section group" style="display:contents">
                <b class="panel-default" style="color:coral; font-size:medium">
                    Danh sách vaccine/ Vật tư yêu cầu
                </b>
                <hr style="margin-bottom: unset;" />
                @if (Model.Vattuytes.Count() > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tên vật tư</th>
                                    <th>Số lượng yêu cầu</th>
                                    <th style="width: 160px;">Số lượng cấp phát</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Vattuytes)
                                {
                                    <tr id="2-@item.Maloaivattu">
                                        <td>@item.Tenvattu</td>
                                        <td><input class="form-control" value="0" name="dsslhuy" id="dsslhuy" type="number" style="width:80px;margin: -5px 0 0 33px; color:black" /></td>
                                        <td style="width:138px; text-align: center;">@Html.Raw(0)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tên vật tư</th>
                                    <th>Số lượng yêu cầu</th>
                                    <th>Số lượng cấp phát</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="alert alert-danger" style="width:210px">Không tìm thấy dữ liệu</div>
                }

            </div>
        }
    </div>
</div>

