@model IEnumerable<Model1.EF.Lo>
@{
    ViewBag.Title = "Index11";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <b class="panel-heading" style="color:black; font-size:x-large">
        Nhập từ nhà cung cấp
    </b>
}
<html>
<head>
    <link rel="stylesheet" href="~/Assets/Admin/css/thuan-main.css">
</head>

<body>
    <div class="row">
        <div class="col-lg-pull-3 thuan-body-content">

            <div class="section group">
                <b class="panel-heading" style="color:coral; font-size:large">
                    Danh sách vắc xin/Vật tư
                    <a class="btn btn-primary" href="/Admin/Lo/Create" style=" margin:0 0 0 36px">Thêm</a>
                </b>
                <hr style="margin-top:8px" />

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>Số hóa đơn</td>
                                <td>Mã lô</td>
                                <td>Số liều</td>
                                <td>Số lượng nhập</td>
                                <td>Đơn giá</td>
                                <td>Thành tiền</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model.Where(item => item != null))
                                {
                                    <tr id="row_@item.Malo">
                                        <td>@item.Sohoadon</td>
                                        <td>@item.Malo</td>
                                        <td>@item.Solieutrenmotcai.GetValueOrDefault(0).ToString("N0")</td>
                                        <td>@item.SLnhap</td>
                                        <td>@item.Dongia.GetValueOrDefault(0).ToString("N0")</td>
                                        <td>@((item.Dongia.GetValueOrDefault(0) * item.SLnhap))</td>
                                        <td>
                                            <a title="Sửa" href="/Admin/Nhaptuncc/Edit/@item.Malo"><i class="fas fa-pen" style="margin-right:5px"></i></a>|
                                            @Ajax.ActionLink(" ", "Delete", new { @id = item.Malo }, new AjaxOptions
                                            { HttpMethod = "Delete", Confirm = "Bạn có muốn xoá bản ghi này?", OnComplete = "$('#row_" + @item.Malo + "').remove()", },
                                            new { @class = "fas fa-trash", @title = "Xóa" })
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>

                </div>
            </div>
            <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
        </div>
    </div>
    <div style="margin-top:13px">
        @Html.ActionLink("Quay lại phiếu nhập", "Index")
    </div>
</body>
</html>